<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<comp-altauser-dm>` description.

Example:

```html
<comp-altauser-dm></comp-altauser-dm>
```

@demo demo/index.html
-->
<dom-module id="comp-altauser-dm">
  <template>    
    <cells-generic-dp
    id="cellsCrudPostDP"
    host=[[_host]]
    path=[[_path]]
    body=[[_body]]
    method="POST"
    on-request-success="_onPostResponse"
    on-request-error="_onPostError">
  </cells-generic-dp>

  </template>
  <script src="comp-altauser-dm.js"></script>
</dom-module>
